body {
	background-color: rgba(42,42,42,1);
}

body > .sectionContainer {
	background: rgb(42, 42, 42) none repeat scroll 0% 0%;
	margin: 0px 0px -2em;
	padding: 0px;
}

body > .sectionTransition:nth-of-type(1) {
	// apply a different gradient to the calendar transition
	background: rgba(42,42,42,0);
	background: -moz-linear-gradient(top, rgba(42,42,42,0) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,42,42,0)), color-stop(50%, rgba(42,42,42,0.4)), color-stop(100%, rgba(42,42,42,1)));
	background: -webkit-linear-gradient(top, rgba(42,42,42,0) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	background: -o-linear-gradient(top, rgba(42,42,42,0) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	background: -ms-linear-gradient(top, rgba(42,42,42,0) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	background: linear-gradient(to bottom, rgba(42,42,42,0) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#2a2a2a', GradientType=0 );
}

body > .sectionTransition {
	background: rgba(42,42,42,1);
	background: -moz-linear-gradient(top, rgba(42,42,42,1) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,42,42,1)), color-stop(50%, rgba(42,42,42,0.4)), color-stop(100%, rgba(42,42,42,1)));
	background: -webkit-linear-gradient(top, rgba(42,42,42,1) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	background: -o-linear-gradient(top, rgba(42,42,42,1) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	background: -ms-linear-gradient(top, rgba(42,42,42,1) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	background: linear-gradient(to bottom, rgba(42,42,42,1) 0%, rgba(42,42,42,0.4) 50%, rgba(42,42,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#2a2a2a', GradientType=0 );
}

h2 {
	color: white;
}

.frontPageContainer,
body > .sectionTransition {
	height: 100vh;
	width: 100%;
}

.page-header {
	padding-bottom: 0;
	border-bottom: none;
}

.fullViewport {
	min-height: 100vh;
	width: 100%;
}

.calendarContainer {
	overflow: hidden;
	padding: 5%;
	top: 30vh;
	position: relative;
}

article,
section header {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

section header h1 {
	text-align: center;
}

.page-header {
	margin: 0 auto;
}

.frontPageContainer .titleContainer {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 0;
	top: 10vh;
	position: absolute;
	left: 0;
	width: 100%;
}

.frontPageContainer .titleContainer h1 {
	margin: 0;
	padding: 0;
	color: white;
}

.frontPageContainer .titleContainer h2.catchLine {
	margin: 0;
	padding: 0;
	color: gray;
}

.background-wrap {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

.frontPageContainer video {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	opacity: 0.7;
}

nav.tileNav {
	position: relative;
	width: 100%;
	text-align: center;
}

.frontPageContainer nav.tileNav {
	bottom: 10vh;
	position: absolute;
}

nav.tileNav ul {
	text-align: center;
}

nav.tileNav .tileButton {
	width: auto;
	display: inline-block;
	padding: 1em;
	height: 100%;
}

.nav-pills>li {
	float: none !important;
}

.navbar-nav>li>a {
	font-size: 24px !important;
	padding-left: 1.25em;
	padding-right: 1.25em;
}

nav.tileNav .tileButton h3 {
	display: inline;
}

.sectionAnchor {
	position: relative;
	top: -50px;
}

.panel-heading h3 {
	padding: 0;
	margin: 0;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
	position: relative;
	left: -6%;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
