body {
	background-color: rgba(52,52,52,1);
}

body > .sectionContainer {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	padding-bottom: 1em;
	padding-top: 5em;
}

.frontPageContainer {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	background: rgba(52,52,52,1);
}

/* main colour settings */

.logo,
.navbar-brand,
.footer-left h3 {
	color: #007AFF !important;
}

p,
.level1Nav,
.level2Nav,
.level4BG,
.level3BG,
.level2BG,
.level1BG,
.panel,
.panel-heading,
.panel-heading h3,
.navbar,
.navbar-nav>li>a,
nav.tileNav .tileButton h3 {
	color: #F4F4F4 !important;
}

a:hover,
.navbar-nav>li>a:hover {
	color: #0055A2 !important;
}

.level1Nav,
.navbar {
	background: #173B5D !important;
}

.level2Nav {
	background: #7B848D !important;
}

.level1BG,
.panel {
	background: #656565 !important;
}

.level2BG,
.panel-heading {
	background: #545454 !important;
}

.level3BG {
	background: #404040 !important;
}

.panel-default, 
.panel-default>.panel-heading {
	border-color: #404040 !important;
}

.level4BG,
body > .sectionContainer {
	background: rgba(52,52,52,0.7);
}

/* main colour settings end */

article.panel {
	margin-bottom: 0 !important;
}

article header.panel-heading {
	background: none;
}

.panel {
	border: none !important;
}

.articleTransition {
	/* height: 20px; */
}

h2 {
	color: white;
}

.frontPageContainer,
body > .sectionTransition {
	height: 100vh;
	width: 100%;
}

body > .sectionTransition {
	margin-top: -20px;
	top: 0;
}

.page-header {
	padding-bottom: 0;
	border-bottom: none;
}

.fullViewport {
	min-height: 100vh;
	width: 100%;
}

.calendarContainer {
	overflow: hidden;
	padding: 5%;
	position: relative;
}

article,
section header,
.sectionContent {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

section header h1 {
	text-align: center;
}

.page-header {
	margin: 0 auto;
}

.frontPageContainer .titleContainer {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 0;
	top: 10vh;
	position: absolute;
	left: 0;
	width: 100%;
}

.frontPageContainer .titleContainer h1 {
	margin: 0;
	padding: 0;
	color: white;
}

.frontPageContainer .titleContainer h2.catchLine {
	margin: 0;
	padding: 0;
	color: gray;
}

.background-wrap {
	position: absolute;
	z-index: -99;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

.frontPageContainer video {
	position: absolute;
	z-index: -99;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	opacity: 0.7;
}

nav.tileNav {
	position: relative;
	width: 100%;
	text-align: center;
}

.frontPageContainer nav.tileNav ul {
	position: absolute;
	bottom: 17.5%;
}

.tileButton a:focus,.tileButton a:hover, .tileButton a {
	background-color: transparent !important;
	color: white;
	text-decoration: none;
}
.tileButton a:hover {
	opacity: 1;
}
.tileButton a {
	color: white;
	opacity: 0.9;
}

.tile-image {
	width: auto;
	position: relative;
}


nav.tileNav {
	position: relative;
	width: 100%;
	text-align: center;
}

.frontPageContainer nav.tileNav {
	bottom: 0vh;
	position: absolute;
	margin-bottom: 1.5em;
}

nav.tileNav ul {
	text-align: center;
	overflow: show;
	width: 100%;
	padding: 0;
}

nav.tileNav .tileButton {
	width: 20%;
	display: inline-block;
	padding: 1em;
	height: 100%;
}

.nav-pills>li {
	float: none !important;
}

.navbar-nav>li>a {
	font-size: 24px !important;
	padding-left: 1.25em;
	padding-right: 1.25em;
}

.slick-slide {
	height: 30vh !important;
	width: auto;
}

.slick-slide img {
	display: block !important;
	height: 100% !important;
	width: auto !important;
	border: 0.3em rgba(127,127,127,0.5) solid;
	border-radius: 0.5em;
	margin: 0 auto;
}

.slick-slide h3 {
	position: relative;
	color: #FFF;
	bottom: 1.5em;
	padding: 0;
	margin: 0;
	z-index: 9999;
	font-weight: bold;
	font-family: sans-serif;
	text-shadow: 0 0 0.5em black;
	text-align: center;
}

nav.tileNav .tileButton h3 {
	display: inline;
	position: absolute;
	height: 2.25em;
	left: 0;
	text-align: center;
	width: 100%;
	white-space: nowrap;
}

.sectionContainer  nav.tileNav {
	top: -5em;
}

.sectionAnchor {
	position: relative;
	top: -3em;
}

.panel-heading h3, .panel-heading h2 {
	padding: 0;
	margin: 0;
	text-align: center;
}

.page-header.panel-heading h2 {
	text-align: center;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
	position: relative;
	left: -6%;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
