body {
	/*background-color: rgba(52,52,52,1);*/
	background: #000;
	font-family: "Open Sans", sans-serif !important;
}

body > .sectionContainer {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-top: 2em;
    position: relative;
}

.titleContainer h1 {
	font-family: "Open Sans Condensed", sans-serif !important;
	font-weight: 700 !important;
}

.frontPageContainer {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	background: rgba(52,52,52,1);
}

/* main colour settings */

.logo,
.navbar-brand,
.footer-left h3 {
	color: #007AFF !important;
}

p,
.level1Nav,
.level2Nav,
.level4BG,
.level3BG,
.level2BG,
.level1BG,
.panel,
.panel-heading,
.panel-heading h3,
.navbar,
.navbar-nav>li>a,
nav.tileNav .tileButton h3 {
	color: #F4F4F4 !important;
}

a:hover,
.navbar-nav>li>a:hover {
	color: #0055A2 !important;
}

.level1Nav,
.navbar {
	background: #173B5D !important;
}

.level2Nav {
	background: #7B848D !important;
}

.level1BG,
.panel {
	background: #656565 !important;
}

.level2BG,
.panel-heading {
	background: #545454 !important;
}

.level3BG {
	background: #404040 !important;
}

.panel-default, 
.panel-default>.panel-heading {
	border-color: #404040 !important;
}

.level4BG,
body > .sectionContainer {
	background: rgba(255, 255, 255, 0.398);
}

/* main colour settings end */

article.panel {
	margin-bottom: 0 !important;
}

article header.panel-heading {
	background: none !important;
	border-radius: 3px;
}

.panel-heading {
	border-radius: 3px !important;
}

.panel {
	border: none !important;
	box-shadow: none !important;
}

.articleTransition {
	/* height: 20px; */
}

h2 {
	color: white;
}

.frontPageContainer,
body > .sectionTransition {
	height: 100vh;
	width: 100%;
}

body > .sectionTransition {
	margin-top: -20px;
	top: 0;
	background: rgba(52,52,52,0.63);
}

.page-header {
	padding-bottom: 0;
	border-bottom: none;
}

.fullViewport {
	min-height: 100vh;
	width: 100%;
}

#calendarContainer {
	left: 10%;
	top: 400px;
    width: 80%;
    height: 720px;
    position: relative;
    overflow: hidden;
    background: #ff00ff;

}
#slideshow {
    height: 100%;
    width: 100%;
}
#slideshow img {
    height: 100%;
    width: 100%;
}
#pager {
text-align: center;
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 5%;
    background: rgba(0,0,0,.5);
    z-index: 1000;
    transition: all 0.3s ease-in-out 0s;
}

#pager img{
	margin: 10px 5px;
   	opacity: 0.3;
  	transition: all .3s ease-in-out 0s;
}
#pager img:hover{
   	opacity: 1;
   	transform:scale(1.05);
 	z-index: 100;
}
	
    
#prev {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    margin: auto 10px;
    z-index: 1000;
}

#prev img {
	height:120px;
	width:120px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto 0px;
}

#next {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
	right:0;
    margin: auto 10px;
	z-index: 1000;
}

#next img {
	height:120px;
	width:120px;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	margin:auto 0px;
}

#next #prev { visibility:hidden;}
#next,#prev:hover {
	cursor:pointer;
}

#next,#prev:hover #next,#prev { visibility:visible;}
article,
section header,
.sectionContent {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}

section header h1 {
	text-align: center;
}

.page-header {
	margin: 0 auto;
}

.frontPageContainer .titleContainer {
	margin: 0;
	padding: 0;
	text-align: center;
	height: 0;
	top: 10vh;
	position: absolute;
	left: 0;
	width: 100%;
}

.frontPageContainer .titleContainer h1 {
	margin: 0;
	padding: 0;
	color: white;
}

.frontPageContainer .titleContainer h2.catchLine {
	margin: 0;
	padding: 0;
	color: gray;
}

.background-wrap {
	position: absolute;
	z-index: -99;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

.frontPageContainer video {
	position: absolute;
	z-index: -99;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	opacity: 0.7;
}

nav.tileNav {
	position: relative;
	width: 100%;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif !important;
}

.frontPageContainer nav.tileNav ul {
	position: absolute;
	bottom: 17.5%;
}

.tileButton a:focus,.tileButton a:hover, .tileButton a {
	background-color: transparent !important;
	color: white;
	text-decoration: none;
}

.tileButton a:hover {
	opacity: 1;
}

.tileButton a {
	color: white;
	opacity: 0.9;
}

.tile-image {
	width: auto;
	position: relative;
}


nav.tileNav {
	position: relative;
	width: 100%;
	text-align: center;
}

.frontPageContainer nav.tileNav {
	bottom: 0vh;
	position: absolute;
	margin-bottom: 1.5em;
}

nav.tileNav ul {
	text-align: center;
	overflow: show;
	width: 100%;
	padding: 0;
}

nav.tileNav .tileButton {
	width: 20%;
	display: inline-block;
	padding: 1em;
	height: 100%;
}

.nav-pills>li {
	float: none !important;
}

.navbar-nav>li>a {
	font-size: 24px !important;
	padding-left: 1.25em;
	padding-right: 1.25em;
}

nav.tileNav .tileButton h3 {
	display: inline;
	position: absolute;
	height: 2.25em;
	left: 0;
	text-align: center;
	width: 100%;
	white-space: nowrap;
	bottom: -3em;
}

.sectionContainer  nav.tileNav {
    top: -16em;
    position: absolute;
}

.sectionAnchor {
	position: relative;
	top: -19.5em;
}

.panel-heading h3, .panel-heading h2 {
	padding: 0;
	margin: 0;
	text-align: center;
}

.page-header.panel-heading h2 {
	padding: 0.25em;
	padding-bottom: 0.5em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
		position: relative;
		left: -6%;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
