.inviewTrigger .media-object {
  transition: all 1s ease;
  position: relative;
  opacity: 0;
  bottom: -100%;
  transform: rotate(0deg);
}

.inviewTrigger.inview .media-object {
  transition: all 1s ease;
  opacity: 1;
  bottom: 0;
  transform: rotate(0deg);
}

footer {
	margin-top: -5.75em !important;
	height: auto !important;
	min-height: 0 !important;
}

.footerContainer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footerContainer .footer-left{
	float: left;
}

.footerContainer h3{
	color:  #ffffff;
	font: normal 36px "Helvetica Neue",Helvetica,Arial,cursive,sans-serif;
	margin: 0 0 10px;
}

.footerContainer h3 span{
	color:  #5383d3;
}

.footerContainer .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footerContainer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footerContainer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footerContainer .footer-icons{
	margin-top: 40px;
}

.footerContainer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footerContainer .footer-right{
	float: right;
}

.footerContainer .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footerContainer form{
	display: inline-block;
}

.footerContainer form input,
.footerContainer form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footerContainer ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footerContainer ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footerContainer :-ms-input-placeholder{
	color:  #5c666b;
}


.footerContainer form input{
	height: 55px;
	margin-bottom: 15px;
}

.footerContainer form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footerContainer form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* responsive footer styles */

@media (max-width: 1000px) {

	.footerContainer {
		font: bold 14px sans-serif;
	}

	.footerContainer .footer-company-name{
		font-size: 12px;
	}

	.footerContainer form input,
	.footerContainer form textarea{
		width: 250px;
	}

	.footerContainer form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footerContainer{
		padding: 30px;
	}

	.footerContainer .footer-left,
	.footerContainer .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footerContainer .footer-left{
		margin-bottom: 40px;
	}

	.footerContainer form{
		margin-top: 30px;
	}

	.footerContainer form{
		display: block;
	}

	.footerContainer form button{
		float: none;
	}
}
