*{
	padding:0;
	margin:0;
}
body{
	position:relative;
}
 header{
 	position: fixed;
 	top : 0;
 	height: 1000px;
 	width: 100%;
 	padding: 0;
 	margin: 0;
 	z-index: -100;
 }
 header h1{
 	padding: 350px 0 0 0;
 	margin: 0;
 	top:400px;
 	font-size: bold;
 	text-align: center;
 	font-size: 80px;
 	color: #fff;
 	z-index: 1;
}
.navbar2{
	top:50px;
	width:100%;
	height:40px;
	position: fixed;
	background-color:#7D7EAB;
	color:inherit;

}
.background-wrap{
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}
video#bgvideo{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	opacity: 0.7;

}
.container-sections{
	top:1000px;
	position: relative; 
}
#section1 {padding-top:50px;height:1800px;color: #fff; background-color: #404040;}
#section2 {padding-top:50px;height:1800px;color: #fff; background-color: #7D7EAB;}
#section3 {padding-top:50px;height:1800px;color: #fff; background-color: #404040;}
#section4 {padding-top:50px;height:1800px;color: #fff; background-color: #7D7EAB;}
#section11 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section12 {padding-top:50px;height:500px;color: #fff; background-color: #00BFFF;}
#section13 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section14 {padding-top:50px;height:500px;color: #fff; background-color: #00BFFF;}
#section21 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section22 {padding-top:50px;height:500px;color: #fff; background-color: #00BFFF;}
#section23 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section24 {padding-top:50px;height:500px;color: #fff; background-color: #00BFFF;}
#section31 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section32 {padding-top:50px;height:500px;color: #fff; background-color: #00BFFF;}
#section33 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section34 {padding-top:50px;height:500px;color: #fff; background-color: #00BFFF;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #00BFFF;}
#section43 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section44 {padding-top:50px;height:500px;color: #fff; background-color: #00BFFF;}